* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Main-Content {
  height: 100%;
}

.App-Container {
  height: calc(100% - 150px);
  height: -moz-calc(100% - 150px);
  height: -webkit-calc(100% - 150px);
}

.MainNav {
  width: 50%;
  list-style: none;
  height: 75px;
  line-height: 75px;
  display: flex;
  justify-content: space-around;
  background-color: #023047;
}
.MainNav-Container {
  display: flex;
  justify-content: space-around;
  background-color: #023047;
  width: 100%;
  line-height: 75px;
}
.MainNav-Child {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  text-decoration: none;
  color: #fb8500;
  transition: color 0.3s ease;
}
.MainNav-Child:active, .MainNav-Child:hover {
  color: #8ecae6;
}

.Logout-Button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #fb8500;
  color: #023047;
  transition: color 0.3s ease, transform 0.3s ease;
}
.Logout-Button:active, .Logout-Button:hover {
  color: #8ecae6;
  transform: scale(1.1);
}

.Footer {
  height: 75px;
  margin-top: -75px;
  color: #fb8500;
  display: flex;
  justify-content: center;
}
.Footer-Container {
  width: 100%;
  background-color: #023047;
}
.Footer-Items {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.Footer-Item {
  padding: 0.2rem;
}
.Footer-Item a {
  text-decoration: none;
  color: #219ebc;
  transition: color 0.3s ease;
  font-size: 1.3rem;
}
.Footer-Item a:active, .Footer-Item a:hover {
  color: #8ecae6;
}
.Footer-SubItems {
  padding: 0.2rem;
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.Login-Container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffb703;
}
.Login-Container .Input-Container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.Login-Container .Input-Label {
  padding-bottom: 0.2rem;
  color: #023047;
}
.Login-Container .Input-Field {
  height: 40px;
  width: 250px;
  color: #023047;
  background-color: #ffb703;
  border: 2px solid #023047;
  border-radius: 20px;
  padding: 1rem;
}
.Login-Container .Input-Button-Container {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.LoginButton {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #023047;
  color: #fb8500;
  transition: color 0.3s ease, transform 0.3s ease;
}
.LoginButton:active, .LoginButton:hover {
  color: #8ecae6;
  transform: scale(1.1);
}

.Signup-Title {
  color: #023047;
}

.HomePage {
  height: 100%;
}

.Local-Container {
  height: 100%;
  background-color: #ffb703;
  color: #023047;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Local-Container .Weather-Card {
  padding: 2rem;
}
.Local-Container .Weather-Items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/*# sourceMappingURL=all.css.map */
